{% extends "v2/component/header.html" %}
{% load static %}

{% block extra_head %}


	<link rel="stylesheet" href="{% static 'css/book_v2/book' %}{{data.attributes.level.data.attributes.level_letter|upper}}.css">
	<link href="https://www.dafontfree.net/embed/Y2hhbGtkdXN0ZXItcmVndWxhciZkYXRhLzE4NC9jLzE4MDQzMC9DaGFsa2R1c3Rlci50dGY" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block height_sidebar %} style="min-height: 830px;" {% endblock %}
{% block padding_main %}style="padding: 0 0 0 0;"{% endblock %}
{% block page_content %}

{% with data.attributes.level.data.attributes.level_letter as level_letter %}
<div class="content">
            
<style>
.sb-nav-fixed #layoutSidenav #layoutSidenav_content {
    padding-left: 225px;
    top: 0px;
}

.row{
	display: block;
}
.row:after {
    clear: both;
	display: table;
    content: " ";
}
.row:before {
    display: table;
    content: " ";
}
</style>
<div class="book_calendar_area">
	<div class="title_area">
		<div class="level_name">
			<div class="lev_img_box">
				<img class="level_image" src="{% static 'image/book/level_title_' %}{{level_letter|upper}}.png" alt="">
			</div>
			<div class="book_num">
				<img class="img_detail" src="{% static 'image/book/month' %}{{level_letter|upper}}.png" alt="">
			</div>
			<div class="font_detail">{{ data.attributes.month_number }}</div>
		</div>
	</div>
	
	


	<div class="row" style="margin: 11px 0 0 164px;">
		<div class="week_icon_1">
		</div>
		<div class="day_area">
			
			{% for entry in week_1 %}
				<div class="{{entry.day.data.attributes.name|slice:3|lower}}_icon" data-toggle="modal" data-target="#vimeo_modal_{{entry.id}}">
				</div>
				{% if entry.videos.data|length > 1 %}
					<div id="vimeo_modal_{{entry.id}}" class="modal fade modal-v-middle" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
								
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
								</div>
								<div class="modal-body">
									
										{% for video in entry.videos.data %}
											{% with outer_counter=forloop.counter %}

											<div data-toggle="modal" data-target="#vimeo_modal_{{entry.id}}_{{video.id}}">
												<p><a class="no-underline" href="javascript:void(0)" >
													{% for name in entry.video_names %}
														{% if forloop.counter == outer_counter %}
															{{ name }}
														{% endif %}
													{% endfor %}
												</a></p>
											</div>

											<div id="vimeo_modal_{{entry.id}}_{{video.id}}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
												<div class="modal-dialog modal-xl">
								
													<div class="modal-content">
														<div class="modal-header">
															<!-- <h5 class="modal-title" id="exampleModalLabel">Modal title</h5> -->
															<button type="button" class="close" data-dismiss="modal" aria-label="Close">
															<span aria-hidden="true">&times;</span>
															</button>
														</div>
														<video oncontextmenu="return false;" controls="" controlslist="nodownload" data=" ">
															<source src="{{entry.videos.data.0.attributes.url}}" type="video/mp4">
															Your browser does not support HTML video.
														</video>	
														
													</div>
												</div>
											</div>
											{% endwith %}
										{% endfor %}
								</div>
							</div>
						</div>
					</div>
				{% elif entry.videos.data|length == 1 %}
					<div id="vimeo_modal_{{entry.id}}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
						<div class="modal-dialog modal-xl">
		
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<video oncontextmenu="return false;" controls="" controlslist="nodownload" data=" ">
									<source src="{{entry.videos.data.0.attributes.url}}" type="video/mp4">
									Your browser does not support HTML video.
								</video>	
								
							</div>
						</div>
					</div>
				
				{% else %}
					<div id="vimeo_modal_{{entry.id}}" class="modal fade modal-v-middle" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
								
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
								</div>
								<div class="modal-body">
									<p>We're sorry, there is no video available on this date!</p>
								</div>
							
							</div>
						</div>
					</div>
				{% endif %}
					

			{% endfor %}
			
		</div>
	</div>
	<div class="row" style="margin-left: 164px;">
		<div class="week_icon_2">
		</div>
		<div class="day_area">
			
			{% for entry in week_2 %}
				<div class="{{entry.day.data.attributes.name|slice:3|lower}}_icon" data-toggle="modal" data-target="#vimeo_modal_{{entry.id}}">
				</div>
				{% if entry.videos.data|length > 1 %}
					<div id="vimeo_modal_{{entry.id}}" class="modal fade modal-v-middle" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
								
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
								</div>
								<div class="modal-body">
									
										{% for video in entry.videos.data %}
											{% with outer_counter=forloop.counter %}

											<div data-toggle="modal" data-target="#vimeo_modal_{{entry.id}}_{{video.id}}">
												<p><a class="no-underline" href="javascript:void(0)" >
													{% for name in entry.video_names %}
														{% if forloop.counter == outer_counter %}
															{{ name }}
														{% endif %}
													{% endfor %}
												</a></p>
											</div>

											<div id="vimeo_modal_{{entry.id}}_{{video.id}}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
												<div class="modal-dialog modal-xl">
								
													<div class="modal-content">
														<div class="modal-header">
															<!-- <h5 class="modal-title" id="exampleModalLabel">Modal title</h5> -->
															<button type="button" class="close" data-dismiss="modal" aria-label="Close">
															<span aria-hidden="true">&times;</span>
															</button>
														</div>
														<video oncontextmenu="return false;" controls="" controlslist="nodownload" data=" ">
															<source src="{{entry.videos.data.0.attributes.url}}" type="video/mp4">
															Your browser does not support HTML video.
														</video>	
														
													</div>
												</div>
											</div>
											{% endwith %}
										{% endfor %}
								</div>
							</div>
						</div>
					</div>
				{% elif entry.videos.data|length == 1 %}
					<div id="vimeo_modal_{{entry.id}}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
						<div class="modal-dialog modal-xl">
		
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<video oncontextmenu="return false;" controls="" controlslist="nodownload" data=" ">
									<source src="{{entry.videos.data.0.attributes.url}}" type="video/mp4">
									Your browser does not support HTML video.
								</video>	
								
							</div>
						</div>
					</div>
				
				{% else %}
					<div id="vimeo_modal_{{entry.id}}" class="modal fade modal-v-middle" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
								
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
								</div>
								<div class="modal-body">
									<p>We're sorry, there is no video available on this date!</p>
								</div>
							
							</div>
						</div>
					</div>
				{% endif %}
					

			{% endfor %}
			
		</div>
	</div>
	<div class="row" style="margin-left: 164px;">
		<div class="week_icon_3">
		</div>
		<div class="day_area">
			
			{% for entry in week_3 %}
				<div class="{{entry.day.data.attributes.name|slice:3|lower}}_icon" data-toggle="modal" data-target="#vimeo_modal_{{entry.id}}">
				</div>
				{% if entry.videos.data|length > 1 %}
					<div id="vimeo_modal_{{entry.id}}" class="modal fade modal-v-middle" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
								
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
								</div>
								<div class="modal-body">
									
										{% for video in entry.videos.data %}
											{% with outer_counter=forloop.counter %}

											<div data-toggle="modal" data-target="#vimeo_modal_{{entry.id}}_{{video.id}}">
												<p><a class="no-underline" href="javascript:void(0)" >
													{% for name in entry.video_names %}
														{% if forloop.counter == outer_counter %}
															{{ name }}
														{% endif %}
													{% endfor %}
												</a></p>
											</div>

											<div id="vimeo_modal_{{entry.id}}_{{video.id}}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
												<div class="modal-dialog modal-xl">
								
													<div class="modal-content">
														<div class="modal-header">
															<!-- <h5 class="modal-title" id="exampleModalLabel">Modal title</h5> -->
															<button type="button" class="close" data-dismiss="modal" aria-label="Close">
															<span aria-hidden="true">&times;</span>
															</button>
														</div>
														<video oncontextmenu="return false;" controls="" controlslist="nodownload" data=" ">
															<source src="{{entry.videos.data.0.attributes.url}}" type="video/mp4">
															Your browser does not support HTML video.
														</video>	
														
													</div>
												</div>
											</div>
											{% endwith %}
										{% endfor %}
								</div>
							</div>
						</div>
					</div>
				{% elif entry.videos.data|length == 1 %}
					<div id="vimeo_modal_{{entry.id}}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
						<div class="modal-dialog modal-xl">
		
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<video oncontextmenu="return false;" controls="" controlslist="nodownload" data=" ">
									<source src="{{entry.videos.data.0.attributes.url}}" type="video/mp4">
									Your browser does not support HTML video.
								</video>	
								
							</div>
						</div>
					</div>
				
				{% else %}
					<div id="vimeo_modal_{{entry.id}}" class="modal fade modal-v-middle" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
								
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
								</div>
								<div class="modal-body">
									<p>We're sorry, there is no video available on this date!</p>
								</div>
							
							</div>
						</div>
					</div>
				{% endif %}
					

			{% endfor %}
			
		</div>
	</div>
	<div class="row" style="margin-left: 164px;">
		<div class="week_icon_4">
		</div>
		<div class="day_area">
			
			{% for entry in week_4 %}
				<div class="{{entry.day.data.attributes.name|slice:3|lower}}_icon" data-toggle="modal" data-target="#vimeo_modal_{{entry.id}}">
				</div>
				{% if entry.videos.data|length > 1 %}
					<div id="vimeo_modal_{{entry.id}}" class="modal fade modal-v-middle" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
								
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
								</div>
								<div class="modal-body">
									
										{% for video in entry.videos.data %}
											{% with outer_counter=forloop.counter %}

											<div data-toggle="modal" data-target="#vimeo_modal_{{entry.id}}_{{video.id}}">
												<p><a class="no-underline" href="javascript:void(0)" >
													{% for name in entry.video_names %}
														{% if forloop.counter == outer_counter %}
															{{ name }}
														{% endif %}
													{% endfor %}
												</a></p>
											</div>

											<div id="vimeo_modal_{{entry.id}}_{{video.id}}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
												<div class="modal-dialog modal-xl">
								
													<div class="modal-content">
														<div class="modal-header">
															<!-- <h5 class="modal-title" id="exampleModalLabel">Modal title</h5> -->
															<button type="button" class="close" data-dismiss="modal" aria-label="Close">
															<span aria-hidden="true">&times;</span>
															</button>
														</div>
														<video oncontextmenu="return false;" controls="" controlslist="nodownload" data=" ">
															<source src="{{entry.videos.data.0.attributes.url}}" type="video/mp4">
															Your browser does not support HTML video.
														</video>	
														
													</div>
												</div>
											</div>
											{% endwith %}
										{% endfor %}
								</div>
							</div>
						</div>
					</div>
				{% elif entry.videos.data|length == 1 %}
					<div id="vimeo_modal_{{entry.id}}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
						<div class="modal-dialog modal-xl">
		
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<video oncontextmenu="return false;" controls="" controlslist="nodownload" data=" ">
									<source src="{{entry.videos.data.0.attributes.url}}" type="video/mp4">
									Your browser does not support HTML video.
								</video>	
								
							</div>
						</div>
					</div>
				
				{% else %}
					<div id="vimeo_modal_{{entry.id}}" class="modal fade modal-v-middle" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
								
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
								</div>
								<div class="modal-body">
									<p>We're sorry, there is no video available on this date!</p>
								</div>
							
							</div>
						</div>
					</div>
				{% endif %}
					

			{% endfor %}
			
		</div>
	</div>
</div>



{% endwith %}
<script>
	$('.modal').on('hide.bs.modal', function(e) {
    	this.querySelector('video').pause();
		this.querySelector('video').load();
	});

</script>
{% endblock %}

