{% load static %}
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

		<title>KidsLoop for School | Learning Portal for All Levels</title>

		<link rel="icon" type="image/x-icon" href="{% static 'image/index/bada-kinder-favicon.ico' %}">
		<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

		{% block extra_head %}{% endblock %}
		
		<link rel="stylesheet" href="{% static 'css/base_v2.css' %}">
		<link rel="stylesheet" href="{% static 'css/layout/side_bar.css' %}">
		<link rel="stylesheet" href="{% static 'css/layout/header.css' %}">

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="http://fonts.cdnfonts.com/css/chalkduster" rel="stylesheet">
        <style>
			video::-internal-media-controls-download-button {
    display:none !important;
}

video::-webkit-media-controls-enclosure {
    overflow:hidden !important;
}

video::-webkit-media-controls-panel {
    width: calc(100% + 30px) !important; /* Adjust as needed */
}
</style>
	</head>

	<body>
		{% block page_content %}
		{% endblock %}
	</body>
</html>