{% extends "component/base.html" %}
{% load static %}

{% block extra_head %}
	<link rel="stylesheet" href="{% static 'css/index_v2_1.css' %}">
	<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
{% endblock %}

{% block page_content %}
	<div class="contents_wrap" {% block contents_wrap_height %}style="height: 910px;" {% endblock %}>
		
		<div class="header" 
			{% if request.user.profile.banner %}
				style="background-image: url('{{request.user.profile.banner.url}}')"
			{% endif %}
		>
			<a class="logo_area" href="/main">
				<img class="header_image" src="{% static 'image/index/badanamu-logo.png' %}" alt="">
				<p class="header_title">Bada Kinder</p>
			</a>
			<div class="header_right" style="width: 22%">
				<div class="user_login">
					<img class="user_image" 
					{% if not request.user.profile.profile_picture %}
					src="{% static 'image/index/icon-thumb.png' %}" 
					{% else %}
					src="{{request.user.profile.profile_picture.url}}" 
					{% endif %}
					alt="" style="margin: 0 0 0 0;">
					<!-- <span class="text_strong">Welcome to </span> -->
					<!-- <br> {{request.user.profile.display_name}} -->
					<br><span><a href="/accounts/logout/">Logout</a></span>
				</div>
			</div>
		</div>
        

		{% block sidebar %}
		{% endblock %}

		{% block content %}
		{% endblock %}

		{% block copyright %}
			<div style="float: left; margin-left: 20px;">
				Copyright © 2022 by KidsLoop Co.,Ltd. All Rights Reserved.</div>
		{% endblock %}
		</div>
	</div>
{% endblock %}