{% extends "component/header.html" %}
{% load static %}
{% load generals %}

{% block sidebar %}
{% user_package_id request as package_id %}
{% settings as cms_settings %}


<div class="side_bar" {% block height_sidebar %} style="min-height: 940px;"{% endblock %}>
	<div class="menu_list" id="accordion">
		
		{% if package_id %}
			<div class="menu" data-toggle="collapse" data-parent="#accordion" href="#menu_contents_">
				<img class="menu_icon" src="{% static 'image/index/icon-contents.png' %}" alt="">
				<span class="menu_title">Bada Kinder</span>
				<span class="icon_arrow"><i class="fas fa-chevron-down"></i></span>
			</div>
			
			<div id="menu_contents_" class="panel-collapse collapse">
				<div class="menu_index">
					<a href="/main">Videos</a>
				</div>
				<div class="menu_index">
					<a href="/rpp">Teacher's Guide</a>
				</div>
				{% if not cms_settings.hide_activity_book %}
				<div class="menu_index">
					<a href="/activity-book">Activity Book</a>
				</div>
				{% endif %}
				{% if not cms_settings.hide_course_book %}
				<div class="menu_index">
					<a href="/course-book">Course Book</a>
				</div>
				{% endif %}
				{% if not cms_settings.hide_story_book %}
				<div class="menu_index">
					<a href="/story-book">Story Book</a>
				</div>
				{% endif %}
			</div>
			<div class="menu_line"></div>
		{% endif %}		
		
		<div id="test11" class="menu" data-toggle="collapse" data-parent="#accordion" href="#menu_board1">
			<img class="menu_icon" src="{% static 'image/index/icon-board.png' %}" alt="">
			<span class="menu_title">Tutorial</span>
			<span class="icon_arrow"><i class="fas fa-chevron-down"></i></span>
		</div>
		<div id="menu_board1" class="panel-collapse collapse">
			<div class="menu_index">
				<a href="/tutorial-video">Videos</a>
			</div>
			<div class="menu_index">
				<a href="/tutorial-pdf">Files</a>
			</div>
		</div>
		<div class="menu_line"></div>
		<div class="menu" data-toggle="collapse" data-parent="#accordion" href="#menu_homework">
			<img class="menu_icon" src="{% static 'image/index/icon-homework.png' %}" alt="">
			<span class="menu_title">Homework</span>
			<span class="icon_arrow"><i class="fas fa-chevron-down"></i></span>
		</div>
		<div id="menu_homework" class="panel-collapse collapse">
			<div class="menu_index">
				<a href="/checkhomework">KidsLoop Home</a>
			</div>
		</div>
	</div>
</div>

<script>
	$('.menu').on('click',function(){
		$(this).find('.icon_arrow').toggleClass('on')
	})
</script>
<script>
	$('#plan').click(function(){
		$(".sub_side_bar").css('display', 'block')
		$(".plan_acc").css('display', 'block')
		$('#menu_plan').collapse('show')
		$('#menu_archive').collapse('hide')
		$(".archive_acc").css('display', 'none')
	})

	$('#archive').click(function(){
		$(".sub_side_bar").css('display', 'block')
		$(".archive_acc").css('display', 'block')
		$('#menu_plan').collapse('hide')
		$('#menu_archive').collapse('show')
		$(".plan_acc").css('display', 'none')
	})

	$('#menu_board').on('hide.bs.collapse', function () {
		$(".sub_side_bar").css('display', 'none')
	})
	$('#menu_contents').on('show.bs.collapse', function () {
		$('#menu_board').collapse('hide')
	})
</script>
{% endblock %}

{% block content %}
{% endblock %}