{% extends "component/sidebar.html" %}
{% load static %}

{% block extra_head %}
	<link rel="stylesheet" href="{% static 'css/contents/nemies.css' %}">
{% endblock %}

{% block content %}
<div class="content">
	
	<div class="page-header" style="padding-left: 50px">
		<h1>{{kind|title}} Book <br><small>Bada Kinder {{request.GET.level_letter}}</small></h1>
	</div>
	
<div class="video_area">
	
	
	<div class="contents_area">
		
		<!-- 이미지파일 영문으로 변경 후 진행 -->
		
		
		<div class="contaior">
			
			
			{% for entry in data %}
					<div class="contents_area">
						<img class="img_contents" data-toggle="modal" data-target="#vimeo_modal_{{entry.id}}" src="{{ entry.attributes.thumbnail.data.attributes.url }}" alt="">
						<div class="video_title">
							{{ entry.attributes.title }}
						</div>
					</div>
					<div id="vimeo_modal_{{entry.id}}" class="modal fade" role="dialog">
						<div class="modal-dialog" style="width: 1200px;">
							<iframe height="800px" width="100%" src="{{ entry.attributes.file.data.attributes.url }}" frameborder="0"></iframe>
						</div>
					</div>
			{% empty %}
	
				<h3>There is no available {{kind}} book.</h3>
				
			  
			{% endfor %}
			
		</div>
		<!-- <div class="page_nav">
			
			
				<a name="page_btn" id="page1" class="on" href="?page=1">1</a>
			
				<a name="page_btn" id="page2"  href="?page=2">2</a>
			

			
				<a class="dir" href="?page=2" style="margin-left:4px">
					<img src="{% static 'image/index/btn_page_next.gif' %}" alt="다음" />

				</a>
				<a class="dir" href="?page=2">
					<img src="{% static 'image/index/btn_page_last.gif' %}" alt="끝으로" />
				</a>
			
		</div> -->
	</div>
</div>
{% endblock %}