{% extends "component/header.html" %}
{% load static %}

{% block extra_head %}
	
	<link rel="stylesheet" href="{% static 'css/level_page/' %}{{ data.0.attributes.level.data.attributes.css_name}}">

	<style>
	    .book_icon{
	    	background-image: url("{% static 'image/level_page/' %}book-{{ data.0.attributes.level.data.attributes.level_letter}}.png");
	    	width: 202px;
	    	height: 206px;
	    	margin: 0 0 0 4px;
	    	float: left;
	    }
	    .book_icon:hover{
	    	background-image: url("{% static 'image/level_page/' %}book-{{ data.0.attributes.level.data.attributes.level_letter}}-on.png");
	    	width: 202px;
	    	height: 206px;
	    	margin: 0 0 0 4px;
	    	float: left;
	    }
	</style>
{% endblock %}

{% block sidebar %}
	<div class="side_bar">
		<!-- {{ data.0.attributes.level.data.attributes.thumbnail.data.attributes.url}} -->
		<img class="side_logo" src="{{ data.0.attributes.level.data.attributes.thumbnail.data.attributes.url}}" alt="">
	</div>
{% endblock %}

{% block content %}


<div class="content" style="background-image: url('{% static 'image/level_page/' %}image-{{ data.0.attributes.level.data.attributes.level_letter}}.png');">
            
<div class="level_book_area">
	<div class="row" style="margin: 110px 0 0 86px;">
		{% if data.0 %}
		<a href="/book/{{ data.0.id}}" class="book_icon">
			<div class="book_title">
				<img src="{% static 'image/level_page/' %}book-1.png" alt="">
			</div>
		</a>
		{% endif %}
		{% if data.1 %}
		<a href="/book/{{ data.1.id}}" class="book_icon">
			<div class="book_title">
				<img src="{% static 'image/level_page/book-2.png' %}" alt="">
			</div>
		</a>
		{% endif %}
		{% if data.2 %}
		<a href="/book/{{ data.2.id}}" class="book_icon">
			<div class="book_title">
				<img src="{% static 'image/level_page/book-3.png' %}" alt="">
			</div>
		</a>
		{% endif %}
		{% if data.3 %}
		<a href="/book/{{ data.3.id}}" class="book_icon">
			<div class="book_title">
				<img src="{% static 'image/level_page/book-4.png' %}" alt="">
			</div>
		</a>
		{% endif %}
	</div>
	<div class="row" style="margin-left: 86px;">
		{% if data.4 %}
		<a href="/book/{{ data.4.id}}" class="book_icon">
			<div class="book_title">
				<img src="{% static 'image/level_page/book-5.png' %}" alt="">
			</div>
		</a>
		{% endif %}
		{% if data.5 %}
		<a href="/book/{{ data.5.id}}" class="book_icon">
			<div class="book_title">
				<img src="{% static 'image/level_page/book-6.png' %}" alt="">
			</div>
		</a>
		{% endif %}
		{% if data.6 %}
		<a href="/book/{{ data.6.id}}" class="book_icon">
			<div class="book_title">
				<img src="{% static 'image/level_page/book-7.png' %}" alt="">
			</div>
		</a>
		{% endif %}
		{% if data.7 %}
		<a href="/book/{{ data.7.id}}" class="book_icon">
			<div class="book_title">
				<img src="{% static 'image/level_page/book-8.png' %}" alt="">
			</div>
		</a>
		{% endif %}
	</div>
	<div class="row" style="margin-left: 86px;">
		{% if data.8 %}
		<a href="/book/{{ data.8.id}}" class="book_icon">
			<div class="book_title">
				<img src="{% static 'image/level_page/book-9.png' %}" alt="">
			</div>
		</a>
		{% endif %}
		{% if data.9 %}
		<a href="/book/{{ data.9.id}}" class="book_icon">
			<div class="book_title">
				<img src="{% static 'image/level_page/book-10.png' %}" alt="">
			</div>
		</a>
		{% endif %}
		{% if data.10 %}
		<a href="/book/{{ data.10.id}}" class="book_icon">
			<div class="book_title">
				<img src="{% static 'image/level_page/book-11.png' %}" alt="">
			</div>
		</a>
		{% endif %}
		{% if data.11 %}
		<a href="/book/{{ data.11.id}}" class="book_icon">
			<div class="book_title">
				<img src="{% static 'image/level_page/book-12.png' %}" alt="">
			</div>
		</a>
		{% endif %}
	</div>
</div>
{% endblock %}
