{% extends "component/sidebar.html" %}
{% load static %}

{% block extra_head %}
	<link rel="stylesheet" href="{% static 'css/book/book' %}{{data.attributes.level.data.attributes.level_letter|upper}}.css">
	<link href="https://www.dafontfree.net/embed/Y2hhbGtkdXN0ZXItcmVndWxhciZkYXRhLzE4NC9jLzE4MDQzMC9DaGFsa2R1c3Rlci50dGY" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block content %}
{% with data.attributes.level.data.attributes.level_letter as level_letter %}
<div class="content">
            
<style>
.modal-content {
  background-color: #fefefe;
  margin: 90% auto; /* 15% from the top and centered */
  padding: 50px;
  border: 1px solid #888;
  width: 100%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

</style>
<div class="book_calendar_area">
	<div class="title_area">
		<div class="level_name">
			<div class="lev_img_box">
				<img class="level_image" src="{% static 'image/book/level_title_' %}{{level_letter|upper}}.png" alt="">
			</div>
			<div class="book_num">
				<img class="img_detail" src="{% static 'image/book/month' %}{{level_letter|upper}}.png" alt="">
			</div>
			<div class="font_detail">{{ data.attributes.book_number }}</div>
		</div>
	</div>
	
	<div class="row" style="margin: 11px 0 0 164px;">
		<div class="week_icon_1">
		</div>
		<div class="day_area">
			
			{% for entry in week_1 %}
				<div class="{{entry.day.data.attributes.icon_class}}" data-toggle="modal" data-target="#vimeo_modal_{{entry.id}}">
				</div>
				<!-- {{entry.videos.data}} -->
				<div id="vimeo_modal_{{entry.id}}" class="modal fade" role="dialog">
					<div id="custom_modal_body" class="modal-dialog">
						<div class="vimeo_wrap">
							{% if entry.videos.data|length > 1 %}
							<div class="modal-content" style="min-width: 350px;">
								
								
								{% for video in entry.videos.data %}
									{% with outer_counter=forloop.counter %}

									<div data-toggle="modal" data-target="#vimeo_modal_{{entry.id}}_{{video.id}}">
										<p><a href="#">
											{% for name in entry.video_names %}
												{% if forloop.counter == outer_counter %}
													{{ name }}
												{% endif %}
											{% endfor %}
										</a></p>
									</div>
									{% endwith %}
								{% endfor %}
								
							  </div>
							  {% endif %}
						</div>
					</div>
				</div>
				{% if entry.videos.data|length > 1 %}
				{% for video in entry.videos.data %}
									
									<div id="vimeo_modal_{{entry.id}}_{{video.id}}" class="modal fade" role="dialog">
					<div id="custom_modal_body" class="modal-dialog">
						<div class="vimeo_wrap">
							
						</div>
					</div>
				</div>
								{% endfor %}
								{% endif %}


			{% endfor %}
			
		</div>
	</div>
	<div class="row" style="margin-left: 164px;">
		<div class="week_icon_2">
		</div>
		<div class="day_area">
			
			{% for entry in week_2 %}
				<div class="{{entry.day.data.attributes.icon_class}}" data-toggle="modal" data-target="#vimeo_modal_{{entry.id}}">
				</div>
				<div id="vimeo_modal_{{entry.id}}" class="modal fade" role="dialog">
					<div id="custom_modal_body" class="modal-dialog">
						<div class="vimeo_wrap"></div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
	<div class="row" style="margin-left: 164px;">
		<div class="week_icon_3">
		</div>
		<div class="day_area">
			{% for entry in week_3 %}
				<div class="{{entry.day.data.attributes.icon_class}}" data-toggle="modal" data-target="#vimeo_modal_{{entry.id}}">
				</div>
				<div id="vimeo_modal_{{entry.id}}" class="modal fade" role="dialog">
					<div id="custom_modal_body" class="modal-dialog">
						<div class="vimeo_wrap"></div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
	<div class="row" style="margin-left: 164px;">
		<div class="week_icon_4">
		</div>
		<div class="day_area">
			{% for entry in week_4 %}
				<div class="{{entry.day.data.attributes.icon_class}}" data-toggle="modal" data-target="#vimeo_modal_{{entry.id}}">
				</div>
				<div id="vimeo_modal_{{entry.id}}" class="modal fade" role="dialog">
					<div id="custom_modal_body" class="modal-dialog">
						<div class="vimeo_wrap"></div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</div>

<div style="display: none;">
	{% for entry in week_1 %}
		{% if entry.videos.data|length > 1 %}
			{% for video in entry.videos.data %}
			<video id="vimeo_{{entry.id}}_{{video.id}}" width="1300" height="800" oncontextmenu="return false;"  controls controlsList="nodownload">
				<source 
					src="{{video.attributes.url}}"
					type="video/mp4"
				>
				Your browser does not support HTML video.
			</video>
			{% endfor %}
		{% else %}
			<video id="vimeo_{{entry.id}}" width="1300" height="800" oncontextmenu="return false;"  controls controlsList="nodownload">
				<source 
					src="{{entry.videos.data.0.attributes.url}}"
					type="video/mp4"
				>
				Your browser does not support HTML video.
			</video>
		{% endif %}
		
	{% endfor %}
	{% for entry in week_2 %}
	<video id="vimeo_{{entry.id}}" width="1300" height="800" oncontextmenu="return false;"  controls controlsList="nodownload">
		<source 
			src="{{entry.videos.data.0.attributes.url}}"
			type="video/mp4"
		>
		Your browser does not support HTML video.
	</video>
	{% endfor %}
	{% for entry in week_3 %}
	<video id="vimeo_{{entry.id}}" width="1300" height="800" oncontextmenu="return false;"  controls controlsList="nodownload">
		<source 
			src="{{entry.videos.data.0.attributes.url}}"
			type="video/mp4"
		>
		Your browser does not support HTML video.
	</video>
	{% endfor %}
	{% for entry in week_4 %}
	<video id="vimeo_{{entry.id}}" width="1300" height="800" oncontextmenu="return false;"  controls controlsList="nodownload">
		<source 
			src="{{entry.videos.data.0.attributes.url}}"
			type="video/mp4"
		>
		Your browser does not support HTML video.
	</video>
	{% endfor %}
	
</div>
{% endwith %}
<script>
	{% for entry in week_1 %}
	
		{% if entry.videos.data|length > 1 %}
			{% for video in entry.videos.data %}
				$('#vimeo_modal_{{entry.id}}_{{video.id}}').on('show.bs.modal', function (e) {
					$('#vimeo_modal_{{entry.id}}').modal('hide');
					
					$q = $('#vimeo_{{entry.id}}_{{video.id}}').clone().removeAttr('id')
					$a = ' '
					$(this).find($('.vimeo_wrap')).append($q.attr('data', $a))
				})
				$('#vimeo_modal_{{entry.id}}_{{video.id}}').on('hidden.bs.modal', function (e) {
					$(this).find($('.vimeo_wrap')).empty()
				})
			{% endfor %}
		{% else %}
			$('#vimeo_modal_{{entry.id}}').on('show.bs.modal', function (e) {
				$q = $('#vimeo_{{entry.id}}').clone().removeAttr('id')
				$a = ' '
				$(this).find($('.vimeo_wrap')).append($q.attr('data', $a))
			})
			$('#vimeo_modal_{{entry.id}}').on('hidden.bs.modal', function (e) {
				$(this).find($('.vimeo_wrap')).empty()
			})
		{% endif %}

	{% endfor %}

	{% for entry in week_2 %}
		$('#vimeo_modal_{{entry.id}}').on('show.bs.modal', function (e) {
			$q = $('#vimeo_{{entry.id}}').clone().removeAttr('id')
			$a = ' '
			$(this).find($('.vimeo_wrap')).append($q.attr('data', $a))
		})
		$('#vimeo_modal_{{entry.id}}').on('hidden.bs.modal', function (e) {
			$(this).find($('.vimeo_wrap')).empty()
		})
	{% endfor %}
	{% for entry in week_3 %}
		$('#vimeo_modal_{{entry.id}}').on('show.bs.modal', function (e) {
			$q = $('#vimeo_{{entry.id}}').clone().removeAttr('id')
			$a = ' '
			$(this).find($('.vimeo_wrap')).append($q.attr('data', $a))
		})
		$('#vimeo_modal_{{entry.id}}').on('hidden.bs.modal', function (e) {
			$(this).find($('.vimeo_wrap')).empty()
		})
	{% endfor %}
	{% for entry in week_4 %}
		$('#vimeo_modal_{{entry.id}}').on('show.bs.modal', function (e) {
			$q = $('#vimeo_{{entry.id}}').clone().removeAttr('id')
			$a = ' '
			$(this).find($('.vimeo_wrap')).append($q.attr('data', $a))
		})
		$('#vimeo_modal_{{entry.id}}').on('hidden.bs.modal', function (e) {
			$(this).find($('.vimeo_wrap')).empty()
		})
	{% endfor %}
	
</script>

{% endblock %}