{% extends "component/base.html" %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/login/login.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800" rel="stylesheet">
{% endblock %}


{% block page_content %}
	<div class="contents_wrap">
		<div class="login_wrap">
			<div class="logo_area">
				<img class="header_image" src="{% static 'image/login/badanamu-logo.png' %}" alt="">
			</div>
			<div class="login_text_area">
				<span class="title_text">
					바다나무 유치원 교실영어
				</span>
				<p class="login_text">로그인</p>
				<p class="intro_text">안녕하세요 선생님!<br>
					바다나무 유치원 교실영어<br>
					홈페이지에 오신 것을 환영합니다.
				</p>
			</div>
			<form method="POST">
				<input type="hidden" name="csrfmiddlewaretoken" value="7T3SLfkCocsIBiobisyTR0iB9heZd24d20R6dJvc9QzauQUEIhyiU3c79MVj74pZ">
				<div class="input_area">
					<input class="login_input" name="username" type="text" placeholder="아이디">
					<input class="login_input" name="password" type="password" placeholder="비밀번호">
					<div class="login_menu">
						<img class="check_box" src="{% static 'image/login/check%20box.png' %}" alt="">
						<span class="menu_button">로그인상태 유지</span> | <a class="menu_button">비밀번호 찾기</a>
					</div>
				</div>
				<div class="button_area">
					<button type="submit" class="login_button">로그인</button>
					바다나무가 처음이신가요? <a class="signin_btn">회원가입</a>
				</div>
			</form>
		</div>
	</div>
{% endblock %}