{% extends "component/sidebar.html" %}
{% load static %}

{% block content %}
<style>
	.side_bar {
		min-height: 550px !important;
	}
	.contents_wrap{
		height: 710px !important;
	}
</style>
<div class="content">
            
	<div class="level_box_area">
		
		{% for entry in data %}
		<!-- {{entry}} -->
		<a href="/level/{{entry.id}}" class="level_box_{{forloop.counter}}" 
			style="background-image: url('{% static 'image/index/' %}{{entry.attributes.level_letter}}-bg.png');">
			<div class="age_badge_area">
				<img class="age_badge" src="{% static 'image/index/' %}age-{{entry.attributes.level_letter}}.png" alt="" height="100px">
				
			</div>
			<div class="level_class_area">
				<img width="159px" class="level_class" src="{% static 'image/index/' %}level-{{entry.attributes.level_letter}}.png" alt="">
				
			</div>
		</a>
		{% endfor %}
	</div>
</div>
{% endblock %}