{% extends "component/sidebar.html" %}
{% load static %}

{% block content %}
<div class="content">
            
	<div class="level_box_area">
		{% for entry in data %}
		<!-- {{entry}} -->
		<a href="/level/{{entry.id}}" class="level_box_{{forloop.counter}}" 
			style="background-image: url('{{ entry.attributes.vertical_cover.data.attributes.url }}');">
			<div class="age_badge_area">
				<img class="age_badge" src="{{ entry.attributes.age_badge.data.attributes.url }}" alt="" height="100px">
			</div>
			<div class="level_class_area">
				<img class="level_class" src="{{ entry.attributes.thumbnail.data.attributes.url }}" alt="">
			</div>
		</a>
		{% endfor %}
	</div>
</div>
{% endblock %}