{% extends "component/base.html" %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/login/login.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800" rel="stylesheet">
{% endblock %}


{% block page_content %}
	<div class="contents_wrap">
		<div class="login_wrap">
			<div class="logo_area">
				<img class="header_image" src="{% static 'image/login/badanamu-logo.png' %}" alt="">
			</div>
			<div class="login_text_area" style="padding: 0 0 0 0;">
				
				<p class="login_text" style="color:black;">Reset Password</p>
				<p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
				
			</div>
			<form method="POST" autocomplete="off">
				{% csrf_token %}

				<div class="input_area">
					<div class="form-group">
						<label for="username">Email address</label>
						<input class="login_input" name="email" type="text" placeholder="Email">
					</div>
					

					
				</div>
				<div class="button_area">
					<button type="submit" class="login_button">Submit</button>
					
				</div>
			</form>
		</div>
	</div>
{% endblock %}