{% extends "component/base.html" %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/login/login.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800" rel="stylesheet">
{% endblock %}


{% block page_content %}
	<div class="contents_wrap">
		<div class="login_wrap">
			<div class="logo_area">
				<img class="header_image" src="{% static 'image/login/badanamu-logo.png' %}" alt="">
			</div>
			<div class="login_text_area" style="padding: 0 0 0 0;">
				
				<p class="login_text" style="color:black;">Sweet! The new password has been updated!</p>
				<p>
					We did to send you an email to finishing up your password update.
					 And if your account does exist in our system, you should expect to receive it in your inbox!
				</p>
				<p>
					"Did not receive our email?
					Do not worry, do check your spam/junk in your email, and/or make sure you have typed the correct email address you have registered (:"
				</p>
				<p><a href="/">Log in</a></p>
			</div>
			
		</div>
	</div>
{% endblock %}