{% extends "component/base.html" %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/login/login.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800" rel="stylesheet">
{% endblock %}


{% block page_content %}
	<div class="contents_wrap">
		<div class="login_wrap">
			<div class="logo_area">
				<img class="header_image" src="{% static 'image/login/badanamu-logo.png' %}" alt="">
			</div>
			<div class="login_text_area" style="padding: 0 0 0 0;">
				
				<p class="login_text" style="color:black;">Update the password</p>
				<p>Do enter your desire password to update it twice as we may verify it, correctly</p>
				
			</div>
			

			<form method="POST" autocomplete="off">
				{% csrf_token %}
				{% if form.errors %}
                <!-- <div class="alert alert-danger alert-dismissible fade show" role="alert"> -->
					<div class="input_area" style="color: red;">
						Ops, one of the accesses is not match! Give it a retry!
                  <!-- <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button> -->
                </div>
            	{% endif %}

				<div class="input_area">
					<div class="form-group">
						<label for="new_password1">New Password</label>
						<input class="login_input" name="new_password1" type="password" placeholder="Password">
					</div>
					<div class="form-group">
						<label for="new_password2">Confirm Password</label>
						<input class="login_input" name="new_password2" type="password" placeholder="Password">
					</div>
					
				</div>
				<div class="button_area">
					<button type="submit" class="login_button">Submit</button>
					
				</div>
			</form>
		</div>
	</div>
{% endblock %}