{% extends "component/base.html" %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/login/login.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800" rel="stylesheet">
{% endblock %}


{% block page_content %}
	<div class="contents_wrap">
		<div class="login_wrap">
			<div class="logo_area">
				<img class="header_image" src="{% static 'image/login/badanamu-logo.png' %}" alt="">
			</div>
			<div class="login_text_area" style="padding: 0 0 0 0;">
				
				<p class="login_text" style="color:black;">Set New Password Complete</p>
				<p>
					Your password has been set.  You may go ahead and log in now.
				</p>
				<p><a href="/">Log in</a></p>

			</div>
			
		</div>
	</div>
{% endblock %}