{% extends "component/sidebar.html" %}
{% load static %}

{% block extra_head %}
	<link rel="stylesheet" href="{% static 'css/contents/nemies_v2.css' %}">
{% endblock %}

{% block content %}
<div class="content">
	<div class="page-header" style="padding-left: 50px">
		<h1>Tutorial Video</h1>
	</div>
<div  class="video_area" style="min-height: 800px;">
	<div class="contents_area">
		<!-- 이미지파일 영문으로 변경 후 진행 -->
		<div class="contaior">
			{% for entry in data %}	
					<div class="contents_area">
						<img class="img_contents" data-toggle="modal" data-target="#vimeo_modal_{{ entry.id }}" src="{{ entry.attributes.thumbnail.data.attributes.url }}" alt="">
						<div class="video_title" style="height:70px;">
							{{ entry.attributes.title|truncatechars:55 }}
							
						</div>
					</div>
					<div id="vimeo_modal_{{ entry.id }}" class="modal fade" role="dialog">
						<div id="custom_modal_body" class="modal-dialog">
							<div class="vimeo_wrap"></div>
						</div>
					</div>
					<div style="display: none;">
						<!-- <iframe id="vimeo{{ entry.id }}" width="1024" height="720" src="{{ entry.attributes.file.data.attributes.url }}" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe> -->
						<video id="vimeo_{{entry.id}}" width="1024" height="720" controls>
							<source 
								src="{{ entry.attributes.file.data.attributes.url }}"
								type="video/mp4"
							>
							Your browser does not support HTML video.
						</video>
					</div>
					<script>
						// $('#vimeo_modal{{ entry.id }}').on('show.bs.modal', function (e) {
						// 	$q = $('#vimeo{{ entry.id }}').clone().removeAttr('id')
						// 	$a = $q.attr('src') + '&autoplay=1'
						// 	$(this).find($('.vimeo_wrap')).append($q.attr('src', $a))
						// })
						// $('#vimeo_modal{{ entry.id }}').on('hidden.bs.modal', function (e) {
						// 	$(this).find($('.vimeo_wrap')).empty()
						// })

						$('#vimeo_modal_{{entry.id}}').on('show.bs.modal', function (e) {
							$q = $('#vimeo_{{entry.id}}').clone().removeAttr('id')
							$a = ' '
							$(this).find($('.vimeo_wrap')).append($q.attr('data', $a))
						})
						$('#vimeo_modal_{{entry.id}}').on('hidden.bs.modal', function (e) {
							$(this).find($('.vimeo_wrap')).empty()
						})
					</script>
			{% empty %}
			<div class="contents_area">
				<h3>There is no available video.</h3>
			</div>
			{% endfor %}
				
			
		</div>
		{% if page_obj.paginator.num_pages > 1 %}
			<div class="page_nav">
				{% if page_obj.has_previous %}
						<a class="dir" href="?page=1">
							<img src="{% static 'image/index/btn_page_first.gif' %}" alt="first" />
						</a>
						<a class="dir" href="?page={{ page_obj.previous_page_number }}" style="margin-left:4px">
							<img src="{% static 'image/index/btn_page_previous.gif' %}" alt="previous" />
				{% endif %}
				{% for page_number in page_range %}
					<a 
						name="page_btn" 
						id="page{{page_number}}" 
						{% if page == page_number %} class="on" {% endif %}
						href="?page={{page_number}}">
					{{page_number}}
				</a>
				{% endfor %}
					
				{% if page_obj.has_next %}
					<a class="dir" href="?page={{ page_obj.paginator.num_pages }}" style="margin-left:4px">
						<img src="{% static 'image/index/btn_page_next.gif' %}" alt="next" />
					</a>
					<a class="dir" href="?page={{ page_obj.paginator.num_pages }}">
						<img src="{% static 'image/index/btn_page_last.gif' %}" alt="last" />
					</a>
				{% endif %}
			</div>
		{% endif %}
	</div>
</div>
{% endblock %}