{% extends "component/sidebar.html" %}
{% load static %}

{% block extra_head %}
	<link rel="stylesheet" href="{% static 'css/contents/nemies_v2.css' %}">
{% endblock %}

{% block content %}
<div class="content">
	<div class="page-header" style="padding-left: 50px">
		<h1>Tutorial File</h1>
	</div>
<div  class="video_area" style="min-height: 800px;">
	<div class="contents_area">
		<!-- 이미지파일 영문으로 변경 후 진행 -->
		<div class="contaior">
				{% for entry in data %}
				 
				 
					<div class="contents_area">
						<img class="img_contents" data-toggle="modal" data-target="#vimeo_modal_{{ entry.id}}" src="{{ entry.attributes.thumbnail.data.attributes.url }}" alt="">
						<div class="video_title" style="height:70px;">
							{{ entry.attributes.title|truncatechars:55 }}
						</div>
					</div>
					<div id="vimeo_modal_{{ entry.id}}" class="modal fade" role="dialog">
						<div class="modal-dialog" style="width: 1200px;">
							<iframe height="800px" width="100%" src="{{ entry.attributes.file.data.attributes.url }}" frameborder="0"></iframe>
						</div>
					</div>
				{% empty %}
	
					<h3>There is no available file.</h3>
				{% endfor %}
					<!-- <script>
						$('#vimeo_modal45').on('show.bs.modal', function (e) {
							$q = $('#vimeo45').clone().removeAttr('id')
							$a = $q.attr('src') + '&autoplay=1'
							$(this).find($('.vimeo_wrap')).append($q.attr('src', $a))
						})
						$('#vimeo_modal45').on('hidden.bs.modal', function (e) {
							$(this).find($('.vimeo_wrap')).empty()
						})
					</script> -->
				
			
		</div>
		{% if page_obj.paginator.num_pages > 1 %}
			<div class="page_nav">
				{% if page_obj.has_previous %}
						<a class="dir" href="?page=1">
							<img src="{% static 'image/index/btn_page_first.gif' %}" alt="first" />
						</a>
						<a class="dir" href="?page={{ page_obj.previous_page_number }}" style="margin-left:4px">
							<img src="{% static 'image/index/btn_page_previous.gif' %}" alt="previous" />
				{% endif %}
				{% for page_number in page_range %}
					<a 
						name="page_btn" 
						id="page{{page_number}}" 
						{% if page == page_number %} class="on" {% endif %}
						href="?page={{page_number}}">
					{{page_number}}
				</a>
				{% endfor %}
					
				{% if page_obj.has_next %}
					<a class="dir" href="?page={{ page_obj.paginator.num_pages }}" style="margin-left:4px">
						<img src="{% static 'image/index/btn_page_next.gif' %}" alt="next" />
					</a>
					<a class="dir" href="?page={{ page_obj.paginator.num_pages }}">
						<img src="{% static 'image/index/btn_page_last.gif' %}" alt="last" />
					</a>
				{% endif %}
			</div>
		{% endif %}
	</div>
</div>
{% endblock %}